.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
}

.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}

.card {
    display: flex;

    margin: auto;
    padding-top: 20px;
}

.mytitle {
    width: 100%;
    height: 200px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/banner.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > button {
    color: black;
}

.info_box {
    display: flex;
    align-items: center;
}

.info_box p, button {
    margin: 10px 20px 10px;
}
#all_content{
    margin: 20px auto;
    width: 1000px;
    padding: 0 100px;
}
.main_content{
    margin: 20px auto;
    width: 800px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px gray;
}

.head_txt{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.main_content > a{
    float: right;
}

.comment{
    font-weight: bolder;
    color: #807a7a;
}
.sub_content{
    border: 1px solid #000;
}
.id_comment_box{
    display: flex;
    align-items: center;
}
.comment_txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.id_comment_box p {
    margin: 0;
    margin-right: 10px;
    padding-left: 10px;
}
.id_comment_box p:last-child{
    border-left: 1px solid #807a7a;
    width: 500px;
}
.save_comment{
    border: 1px solid #000;
    margin-top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}
.save_comment > p {
    margin: 10px;
}
.save_comment input[type='text']{
    width: 600px;
    margin: 0 auto;
}