.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
}

.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}

.card {
    display: flex;

    margin: auto;
    padding-top: 20px;
}

.mytitle {
    width: 100%;
    height: 250px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/banner.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > button {
    color: black;
}

.all_box {
    border: 1px solid #000;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.content_box{
    display: flex;
    width: 1200px;
}
.image_box {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    background: url("https://i.pinimg.com/originals/d9/82/f4/d982f4ec7d06f6910539472634e1f9b1.png")no-repeat;
    background-size: cover
;
}
.info_box{
    display: flex;
    align-items: center;
}
.info_box p, button{
    margin: 10px 20px 10px;
}
.mytitle .btn_1{
    background-color: #ccc;
    width: 200px;
    padding: 10px;
}
.text_box {
    width: 600px;
}

.button_box {
    display: flex;
    justify-content: space-between;
}
.btn_3{
width: 50px;
    margin: 15px;
    background-color: white;
    height: 40px;
}
.blog_comment{
    display: flex;
    justify-content: space-around;
}
