<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--JQUREY 임포트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 스킬 아카이브 </title>
    <link rel="stylesheet" href="../static/detailBlog.css">
</head>
<script>
    function save_comment(a) {
        const comment = $('#save_comment').val(); //댓글 내용
        const today = new Date().toISOString(); // 댓글 작성 날짜
        const id = a; // 블로그 id값
        $.ajax({
            type: "POST",
            url: "/savecomment",
            data: {comment_give: comment, date_give: today, id_give: id},
            success: function (response) { // {'msg': '댓글 달기 성공 !!'}
                alert(response['msg'])
                window.location.reload();
            }
        });
    }
     function del_comment(a) {
        const listNum = a; // 댓글 번호
        const id = '{{blog._id}}' // 블로그 id값
        $.ajax({
            type: "POST",
            url: "/delcomment",
            data: {listNum_give: listNum, '_id_give': id},
            success: function (response) {  //{'msg' : '삭제되었습니다!'}
                alert(response['msg'])
                window.location.reload();
            }
        });
    }


    function logout() {
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href = '/login'
    }

    function edit_comment(b) {
        const listNum = b; // 댓글 번호
        const id = '{{blog._id}}' // 블로그 id값
        let edit_comment = $("#textarea-post").val()

        $.ajax({
            type: "POST",
            url: "/edit_comment",
            data: {listNum_give: listNum, edit_comment_give: edit_comment, '_id_give': id },
            success: function (response) {
                $("#modal-post").removeClass("is-active")
                window.location.reload()
            }
        })
    }

    function modal(com_num){
        $("#modal-edit").addClass("is-active")
        let num = $(`#${com_num}`).text()
        $("#textarea-post").val(num)
    }

</script>
<body>
<div class="mytitle">
    <h1>스킬 아카이브</h1>
    <div class="info_box">
        <p>안녕하세요 {{ id }}님 </p>
        <button type="button" class="btn btn-dark" onclick="logout()">로그아웃</button>
    </div>
</div>

<div id="all_content">
    <div class="main_content">
        <div class="head_txt">
            <h1>{{ blog.summary }}</h1>
        </div>
        <div>
            <p>요약으로만 작성하기는 너무 적을 것 같아서 text도 하나 작성하려고하는데 어
                떠시나요? 정답을 알려주시면 감사하겠습니다 !! 물론 간단한 보조 설명 텍스트 정도 ....</p>
        </div>
        <a href="{{ blog.url }}">블로그 바로가기</a>
    </div>
    <br>
    <p class="comment">
        댓글 <span>) 20</span>
    </p>
    <div class="sub_content">
        {% for comment in comments %}
            {% if id == comment.user %}
                <div class="comment_txt">
                    <div class="id_comment_box">
                        <p>ID ) {{ comment.user }} </p>
                        <p id="{{ loop.index - 1 }}">{{ comment.comment }} </p>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="edit_button"
                            onclick='modal({{ loop.index - 1 }})'>수정

                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm"
                            onclick="del_comment({{ loop.index - 1 }})">삭제
                    </button>
                </div>
            {% else %}
                <div class="comment_txt">
                    <div class="id_comment_box">
                        <p>ID ) {{ comment.user }} </p>
                        <p>{{ comment.comment }} </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% for comment in comments %}
        <div class="modal" id="modal-edit">
            <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                        <textarea id="textarea-post" class="textarea"></textarea>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button is-sparta" onclick="edit_comment(2)">수정</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-sparta is-outlined"
                                           onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-edit").removeClass("is-active")'></button>
        </div>
    {% endfor %}

    <div class="save_comment">
        <p>{{ id }}님</p>
        <input id="save_comment" type="text">
        <button type="button" class="btn btn-dark btn-sm" onclick="save_comment('{{ blog._id }}')">작성</button>
    </div>
</div>
</body>
</html>





