<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JQUREY 임포트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 스킬 아카이브 </title>
    <link rel="stylesheet" href="../static/detailBlog.css">
</head>
<body>
<div class="mytitle">
    <h1>스킬 아카이브</h1>
    <div class="info_box">
        <p>안녕하세요 000님 </p>
        <button type="button" class="btn btn-dark" onclick="logout()">로그아웃</button>
    </div>
</div>

<div id="all_content">
    <div class="main_content">
        <div class="head_txt">
            <h1>{{ blog.summary }}</h1>
        </div>
        <div>
            <p>요약으로만 작성하기는 너무 적을 것 같아서 text도 하나 작성하려고하는데 어
                떠시나요? 정답을 알려주시면 감사하겠습니다 !! 물론 간단한 보조 설명 텍스트 정도 ....</p>
        </div>
        <a href="{{ blog.url }}">블로그 바로가기</a>
    </div>
    <br>
    <p class="comment">
        댓글 <span>) 20</span>
    </p>
    <div class="sub_content">
        {% for comment in comments %}
        <div class="comment_txt">
            <div class="id_comment_box">
                <p>ID ) {{ comment.user }} </p>
                <p>{{ comment.comment }} </p>
            </div>
            <button onclick="abc({{ loop.index - 1 }})">X</button>
        </div>
        {% endfor %}
    </div>


</div>
</body>
</html>
