<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .img{
        border: 1px solid #000;
        width: 200px;
        height: 100px;
    }
    .blog_box{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .heart_box{
        border: 1px solid #000;
        width: 40px;
        height: 40px;

    }
    .heart{
        display: flex;
        justify-content: space-between;

    }
    .heart > button{
        width: 40px;
        height: 40px;
    }
</style>
<body>
<div>
    <button class="log_out_btn">로그아웃</button>
</div>
<div class="blog_box">
    <div class="img">이미지</div>
    <div class="detail">
        <a href="#">리엑트 기본</a>
        <span>id : 000</span>
        <p>댓글 ) <span>14</span></p>

    </div>
    <div class="heart">
        <div class="heart_box"></div>
        <button>수정</button>
        <button>삭제</button>
    </div>

</div>
<div class="blog_box">
    <div class="img">이미지</div>
    <div class="detail">
        <a href="#">리엑트 기본</a>
        <span>id : 000</span>
        <p>댓글 ) <span>14</span></p>

    </div>
    <div class="heart">
        <div class="heart_box">좋아요 부분</div>
        <button>수정</button>
        <button>삭제</button>
    </div>

</div>
<div class="blog_box">
    <div class="img">이미지</div>
    <div class="detail">
        <a href="#">리엑트 기본</a>
        <span>id : 000</span>
        <p>댓글 ) <span>14</span></p>

    </div>
    <div class="heart">
        <div class="heart_box"></div>
        <button>수정</button>
        <button>삭제</button>
    </div>

</div>
<div class="blog_box">
    <div class="img">이미지</div>
    <div class="detail">
        <a href="#">리엑트 기본</a>
        <span>id : 000</span>
        <p>댓글 ) <span>14</span></p>

    </div>
    <div class="heart">
        <div class="heart_box"></div>
        <button>수정</button>
        <button>삭제</button>
    </div>

</div>
url<input type="text">
요약<input type="text">
<button>추가하기</button>
</body>
</html>