<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #content {
        width: 800px;
        margin: 0 auto;
    }

    .comment_box {
        display: flex;
        text-align: center;
        justify-content: space-between;
        border: 1px solid #000;
    }

    .blog_content {
        border: 1px solid #000;
        text-align: center;
        height: 200px;
    }

    .save_comment {
        border: 1px solid #000;
        padding: 20px;
    }

</style>
<body>
<div id="content">
    <div class="blog_content">블로그 내용</div>
    <p>댓글</p>
    <div class="comment_box">
        <span>id</span>
        <p>댓글 ~~~~~~~~~</p>
        <div>

            <button>x</button>
            <button>수정</button>
        </div>
    </div>
    <div class="comment_box">
        <span>id</span>
        <p>댓글 ~~~~~~~~~</p>
        <div>

            <button>x</button>
            <button>수정</button>
        </div>
    </div>
    <div class="comment_box">
        <span>id</span>
        <p>댓글 ~~~~~~~~~</p>
        <div>

            <button>x</button>
            <button>수정</button>
        </div>
    </div>
    <div class="save_comment">

        작성하기<input type="text">
        <button>추가</button>
    </div>


</div>
</body>
</html>