<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JQUREY 임포트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 스킬 아카이브 </title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<script>
        console.log('{{ ab }}')
    function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }
</script>
<body>
<div class="mytitle">
    <h1>스킬 아카이브</h1>
    <div class="info_box">
        <p>안녕하세요 000님 </p>
        <button type="button" class="btn btn-dark" onclick="logout()">로그아웃</button>
    </div>
    <button class="btn btn-dark btn_1">블로그 추가하기</button>
</div>
<div class="all_box">
    <div class="content_box">
        <a href="/searchblog/627b3514d9d6b89c83068ac5">
            <div class="image_box">
            </div>
        </a>
        <div class="text_box">
            <a href="/searchblog/627b3514d9d6b89c83068ac5"><p>여기서부터 아무말이나 작성된 부분이 요약입니다.</p></a>
            <div class="blog_comment">
                <span>작성자 ) ID들어가기</span>
                <span>댓글 ) 20개</span>
            </div>
        </div>
    </div>
    <div class="button_box">
        <!-- 조건문을 사용해서 사용자가 맞을 경우만 표시 -->
        <button class="btn_3">수정</button>
        <button class="btn_3">삭제</button>
    </div>
</div>
</body>
</html>