<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JQUREY 임포트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title> 스킬 아카이브 </title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<script>
    function logout() {
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href = '/login'
    }

    function save_blog() {
        const url = $('#blog_url').val(); //블로그 url
        const summary = $('#blog_summary').val(); // 블로그 요약내용
        const text = $("#blog_text").val()
        const today = new Date().toISOString();  // 작성 날짜
        $.ajax({
            type: "POST",
            url: "/blogg/saveBlog",
            data: {url_give: url, summary_give: summary, date_give: today, text_give: text},
            success: function (response) { //{'msg': '저장 완료 !!'}
                alert(response['msg'])
                window.location.reload()
            }
        });
    }

    function open_save() {
        $("#blog_post").show()
        $("#all_box").hide()
    }

    function close_save() {
        $("#all_box").show()
        $("#blog_post").hide()
    }
    function del_blog(a) {
    const id = a;
    $.ajax({
        type: "POST",
        url: "/delBlog",
        data: { id_give: id},
        success: function (response) {
            alert(response['msg'])
            window.location.reload();
        }
    });
}
</script>
<body>
<div class="mytitle">
    <h1>스킬 아카이브</h1>
    <div class="info_box">
        <p>안녕하세요 {{ id }}님 </p>
        <button type="button" class="btn btn-dark" onclick="logout()">로그아웃</button>
    </div>
    <button class="btn btn-dark btn_1" onclick="open_save()">블로그 추가하기</button>
</div>
<div id="all_box">
    {% for blog_info in blog_infos %}
        <div class="all_box">
            <div class="content_box">
                <a href="/searchblog/{{ blog_info._id }}">
                    <div class="image_box">
                        <img src="{{ blog_info.img }}" alt="블로그 이미지">
                    </div>
                </a>
                <div class="text_box">
                    <a href="/searchblog/{{ blog_info._id }}"><p>{{blog_info.summary}}</p></a>
                    <div class="blog_comment">
                        <span>작성자 ) {{ blog_info.username}}</span>
                        <span>댓글 ) {{ count_list[loop.index0] }}개</span>
                    </div>
                </div>
            </div>
            <div class="button_box">
                <!-- 조건문을 사용해서 사용자가 맞을 경우만 표시 -->
                <button class="btn_3">수정</button>
                <button class="btn_3" onclick="del_blog('{{ blog_info._id }}')">삭제</button>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="button_box">
        <!-- 조건문을 사용해서 사용자가 맞을 경우만 표시 -->
        <button class="like">좋아요</button>
        <button class="btn_3">수정</button>
        <button class="btn_3">삭제</button>
    </div>
</div>
<div class="mypost" id="blog_post" style="display: none">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="blog_url" placeholder="블로그 URL">
    </div>
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="blog_summary" placeholder="블로그 요약">

    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="간략한 내용" id="blog_text"
                  style="height: 100px"></textarea>
    </div>
    <div class="mybtns">
        <button onclick="save_blog()" type="button" class="btn btn-dark">추가하기</button>
        <button type="button" class="btn btn-outline-dark" onclick="close_save()">닫기</button>
    </div>
</div>
</body>
</html>